body {
    font-family: 'Righteous', cursive;
}
.contentPage {
    background-image: url('accueil.jpg');
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: 0.8;
}
